
# Archivos de entorno
.env
.env.local
.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Conda
.conda
.conda-env

# Virtual environment (venv/venv3)
.venv/
env/
venv3/

# Logs
*.log

# Drivers
drivers/

# Temporal files
tmp/
temp/
*.tmp
.test_tmp/
toa_proceso_mejorado (*).py

# Ejecutables (Windows)
*.exe
*.dll
*.pyd

# Scripts batch
*.bat

# Data
data/
data.sql
salida_prueba_toa/
toa_runs/
BBDD_TOA.xlsx
Monitoreo.xlsx

# =========================================
# EXCLUSIONES ESPECÍFICAS POR CARPETA
# =========================================

# Archivos dentro de .vscode/
.vscode/*.code-search
.vscode/settings.json
.vscode/launch.json

# Archivos dentro de drivers/
#drivers/msedgedriver.exe
drivers/*.exe
drivers/*.dll
drivers/*.log

# Archivos dentro de .pytest_cache/
.pytest_cache/
